/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

.Body {
  display: flex;
  height: 1000vh;
  width: 100vw;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Main {
  display: flex;
  height: 1000vh;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
}

.Container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-family: 'Kode Mono', monospace;
}

.Box {
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  height: 5rem;
  width: 18rem;
  background-color: #bb3030;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.Test {
  padding: 10px;
  margin-left: 10px;
  margin-top: 400px;
  height: 5rem;
  width: fit-content;
  background-color: #3030bb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.liste {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  overflow: hidden;
  color: white;
}

.list-item {
  border: solid 1px whitesmoke;
  height: 250px;
  width: 500px;
}

.container-2 {
}
